<nav class="navbar navbar-default bg-primary">
  <div class="container-fluid">
    <ul class="nav navbar-left">
      <li>
        <div>Jour: {{giveToday() | date: 'd/MM/y' }}</div>
      </li>
    </ul>
    <ul class="nav navbar-right">
      <li routerLinkActive="active">
        <a class="btn text-white" routerLink="../connection" >Connexion</a>
        <a class="btn text-white" (click)="onDisconnect()">Se déconnecter</a>
        <!--<a (click)="connect()">Se connecter</a>-->
      </li>
    </ul>
  </div>
</nav>


