<div class="container">
  <div class="col-xs-12">
    <div id="humor-title" class="boxed bg-secondary">
      <h2 class="text-white">Humeur du jour de l'équipe</h2>
    </div>
    <div id="humor-box" class="boxed">
    <span id="user-humor-icon">
    <button type="button" class="btn btn-link">
      <i class="fa fa-meh-o fa-5x"></i></button>
    <button type="button" class="btn btn-link">
      <i class="fa fa-smile-o fa-5x"></i></button>
   <button type="button" class="btn btn-link">
     <i class="fa fa-frown-o fa-5x"></i></button>
  </span>
    </div>
  </div>
</div>







