<div class="container">
  <div class="col-xs-12">
    <div id="humor-title" class="boxed bg-secondary">
      <h2 class="text-white">Mon humeur du jour </h2>
    </div>
    <div id="humor-box" class="boxed">
      <span id="team-humor-icon">
        <div id="test" [innerHTML]="htmlHumorEmoticon | safeHTML"></div>
      </span>
      <div id="member-counter">
        <h2 class="text-dark ">{{valuesNumber}}/5</h2>
      </div>
      <div>
        <button class="btn btn-primary mb-2" (click)="getTeamHumor()"> Get TeamHumor</button>
      </div>
    </div>
  </div>
