<div class="container">
  <div class="col-xs-12">
    <div id="humor-title" class="boxed bg-secondary">
      <h2 class="text-white">Mon humeur du jour </h2>
    </div>
    <div id="humor-box" class="boxed">
      <span id="team-humor-icon">
         <div [ngSwitch]="teamHumorValue">
          <i *ngSwitchCase="3" class="fa fa-smile-o fa-5x" style="color:green"></i>
          <i *ngSwitchCase="2" class="fa fa-meh-o fa-5x" style="color:gold"></i>
          <i *ngSwitchCase="1" class="fa fa-frown-o fa-5x" style="color:red"></i>
          <i *ngSwitchCase="0" class="fa fa-question fa-5x" style="color:black"></i>
        </div>
      </span>
      <div id="member-counter">
        <h2 class="text-dark ">{{valuesNumber}}/5</h2>
      </div>
      <div>
        <button class="btn btn-primary mb-2" (click)="getTeamHumor()"> Get TeamHumor</button>
      </div>
    </div>
  </div>
