<div class="container">
  <div class="col-xs-12">
    <div id="humor-title" class="boxed bg-secondary">
      <h2 class="text-white">Mon humeur du jour </h2>
    </div>
    <div id="humor-box" class="boxed">
      <span id="team-humor-icon">
        <i class="fa fa-meh-o fa-5x"></i>
        <i class="fa fa-smile-o fa-5x"></i>
        <i class="fa fa-frown-o fa-5x"></i>
        <i class="fa fa-question fa-5x"></i>
      </span>
      <div id="member-counter">
      <h2  class="text-dark ">0/5</h2>
      </div>
    </div>
  </div>
</div>
